<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bower_components/react/react.min.js"></script>
    <script src="/bower_components/react/react-dom.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
