<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bundle.css">
    <script src="/js/bundle.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
