<div id="sidebar">
  <div class="title-container">Todo</div>
  <div class="tasklists-container">
    <div class="new-task-container">New Task</div>

    <div class="tasklist-container">
      <div class="border-top"></div>
      <div class="tasklist-name">Tasklist 1</div>
    </div>
    <div class="tasklist-container">
      <div class="border-top"></div>
      <div class="tasklist-name">Tasklist 2</div>
    </div>
    <div class="tasklist-container">
      <div class="border-top"></div>
      <div class="tasklist-name">Tasklist 3</div>
    </div>
  </div>

  <div class="logout-container">Logout</div>
</div>

<div id="tasks">
  <div class="task-container">
    task-container
  </div>
</div>
