<div id="sidebar">
  <div class="title-container">Todo</div>

  <div class="new-task-container">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <i class="shine"></i>
  </div>

  <div id="tasklist-names"></div>

  <div class="logout-container">Logout</div>
</div>

<div id="tasks"></div>
