<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">{{title}}</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href='#'>Login</a></li>
      <li><a href='#'>Register</a></li>
    </ul>
  </div>
</div>

<div id="root"></div>
<script src="/js/bundle.js"></script>
