<div id="sidebar">
  <div class="title-container">Todo</div>
  <div class="tasklists-container">tasklists-container</div>
  <div class="logout-container">logout-container</div>
</div>

<div id="tasks">
  <div class="task-container">task-container</div>
</div>
