@import './modules/colors';

$sidebar-width: 350px;
$title-height: 80px;
$logout-height: 50px;
$sidebar-tasklist-height: 50px;

#sidebar {
  position: absolute;

  left: 0px;
  width: $sidebar-width;

  height: 100%;
  background-color: $med-purple;

  .title-container {
    position: absolute;

    width: 100%;
    height: $title-height;

    //////////////////////////////
    // This block will probs be deleted in the future
    text-align: center;
    vertical-align: middle;
    line-height: $title-height;
    font-size: 36pt;
    //////////////////////////////

    background-color: $light-purple;
  }

  .new-task-container {
    position: absolute;

    top: $title-height;
    width: 100%;

    background-color: $dark-purple;

    text-align: center;
    vertical-align: middle;
    line-height: $sidebar-tasklist-height;
    font-size: 24pt;
    color: white;
  }

  .tasklists-container {
    position: absolute;

    top: calc(#{$title-height} + #{$sidebar-tasklist-height});
    width: 100%;
    height: calc(100% - #{$title-height} - #{$logout-height} - #{$sidebar-tasklist-height});

    overflow-x: hidden;
    overflow-y: auto;

    .tasklist-container {
      position: relative;
      width: 100%;
      height: $sidebar-tasklist-height;

      background-color: $med-purple;

      .border-top {
        position: absolute;
        left: 10%;
        right: 10%;

        border-top-style: solid;
        border-color: lightgrey;
        border-width: 1px;
      }

      .tasklist-name {
        position: absolute;
        height: 100%;
        width: 100%;

        text-align: center;
        vertical-align: middle;
        line-height: $sidebar-tasklist-height;
        font-size: 18pt;
      }
    }

  }

  .logout-container {
    position: absolute;

    bottom: 0px;
    width: 100%;
    height: $logout-height;

    text-align: center;
    vertical-align: middle;
    line-height: $logout-height;
    font-size: 24pt;

    background-color: $dark-purple;
  }
}
