@import "foundation";

@include foundation-everything;

$sidebar-width: 400px;
$title-height: 80px;
$logout-height: 50px;

#sidebar {
  position: absolute;

  left: 0px;
  width: $sidebar-width;

  height: 100%;
  background-color: green;

  .title-container {
    position: absolute;

    width: 100%;
    height: $title-height;

    //////////////////////////////
    // This block will probs be deleted in the future
    text-align: center;
    vertical-align: middle;
    line-height: $title-height;
    font-size: 36pt;
    //////////////////////////////

    background-color: blue;
  }

  .tasklists-container {
    position: absolute;

    top: $title-height;
    width: 100%;
    height: calc(100% - #{$title-height} - #{$logout-height});
  }

  .logout-container {
    position: absolute;

    bottom: 0px;
    width: 100%;
    height: $logout-height;

    background-color: purple;
  }
}

#tasks {
  position: absolute;

  left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});

  height: 100%;
  background-color: red;
}
