@import "foundation";

@include foundation-everything;

$sidebar-width: 400px;
$title-height: 80px;
$logout-height: 50px;
$sidebar-tasklist-height: 50px;

#sidebar {
  position: absolute;

  left: 0px;
  width: $sidebar-width;

  height: 100%;
  background-color: green;

  .title-container {
    position: absolute;

    width: 100%;
    height: $title-height;

    //////////////////////////////
    // This block will probs be deleted in the future
    text-align: center;
    vertical-align: middle;
    line-height: $title-height;
    font-size: 36pt;
    //////////////////////////////

    background-color: cyan;
  }

  .tasklists-container {
    position: absolute;

    top: $title-height;
    width: 100%;
    height: calc(100% - #{$title-height} - #{$logout-height});

    .sidebar-component {
      position: relative;

      width: 100%;
      height: $sidebar-tasklist-height;
    }

    .new-task-container {
      @extend .sidebar-component;
      background-color: magenta;

      //////////////////////////////
      // This block will probs be deleted in the future
      // border-style: solid;
      // border-color: black;
      // border-width: 1px;
      text-align: center;
      vertical-align: middle;
      line-height: $sidebar-tasklist-height;
      font-size: 18pt;
      //////////////////////////////
    }

    .tasklist-container {
      @extend .sidebar-component;

      background-color: blue;

      .border-top {
        position: absolute;
        left: 10%;
        right: 10%;

        border-top-style: solid;
        border-color: lightgrey;
        border-width: 1px;
      }

      .tasklist-name {
        position: absolute;
        height: 100%;
        width: 100%;

        //////////////////////////////
        // This block will probs be deleted in the future
        // border-style: solid;
        // border-color: black;
        // border-width: 1px;
        text-align: center;
        vertical-align: middle;
        line-height: $sidebar-tasklist-height;
        font-size: 18pt;
        //////////////////////////////
      }
    }

  }

  .logout-container {
    position: absolute;

    bottom: 0px;
    width: 100%;
    height: $logout-height;

    //////////////////////////////
    // This block will probs be deleted in the future
    text-align: center;
    vertical-align: middle;
    line-height: $logout-height;
    font-size: 28pt;
    //////////////////////////////

    background-color: purple;
  }
}

#tasks {
  position: absolute;

  left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});

  height: 100%;
  background-color: red;
}
