@import "foundation";

@include foundation-everything;

.task {
  position: relative;

  .task-text {
    position: absolute;
    left: 50px;
    right: 0px;
  }
}

//body {
//  padding: 50px;
//  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
//}
//
//a {
//  color: #00B7FF;
//}
