@import './modules/browser-compatibility';
@import './modules/colors';

$sidebar-width: 350px;
$tasklist-name-height: 50px;

#tasks {
  position: absolute;

  left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});

  height: 100%;
  background-color: red;

  @extend .cross-browser-border-box;
  padding: 30px;

  .tasklist-container {
    @extend .cross-browser-border-box;

    padding: 10px;

    background-color: orange;

    height: 100%;

    .tasklist-name-container {
      @extend .cross-browser-border-box;
      height: $tasklist-name-height;
      width: 100%;

      padding: 5px;
      background-color: green;

      .tasklist-name {
        @extend .cross-browser-border-box;
        display: block;
        resize: none;
        border-style: none;

        background-color: yellow;

        height: 100%;
        width: 100%;

        text-align: center;
        font-size: 28px;

        resize: none;
        border-style: none;

        &:focus {
          outline: none;
        }
      }
    }

    .tasks-container {
      position: relative;
      height: calc(100% - #{$tasklist-name-height});

      overflow-y: auto;

      background-color: white;

      .task-container {
        position: relative;

        height: 36px;
        width: 100%;

        background-color: white;

        &:hover {
          background-color: rgb(240, 240, 240);
        }

        &.focused {
          background-color: $lightest-amber;
        }

        $checkbox-width: 14px;
        $checkbox-margin-top: 8px;
        $checkbox-margin-left: 8px;
        $checkbox-margin-right: 6px;

        $more-info-width: 40px;

        .checkbox-container {
          position: relative;

          z-index: 100;

          display: inline-block;
          height: $checkbox-width;
          width: $checkbox-width;

          margin-top: $checkbox-margin-top;
          margin-left: $checkbox-margin-left;
          margin-right: $checkbox-margin-right;

          background-color: white;

          border-style: solid;
          border-width: 1px;
          border-color: black;

          label {
            display: block;
            position: relative;
            height: $checkbox-width;
            width: $checkbox-width;
          }
        }

        .task-text {
          @extend .cross-browser-border-box;

          vertical-align: middle;

          font-size: 18px;

          height: 100%;
          width: calc(100% - #{$checkbox-width} - #{$checkbox-margin-left} - #{$checkbox-margin-right} - #{$more-info-width});

          position: absolute;
          left: calc(#{$checkbox-width} + #{$checkbox-margin-left} + #{$checkbox-margin-right});
          top: 0px;

          padding-top: 5px;

          .strikethrough-able {
            display: inline-block;

            white-space: pre;
            overflow: hidden;

            // 1px is necessary to make the cursor appear when the task text is empty
            max-width: calc(100% - 1px);
            padding-left: 1px;

            &:focus {
              outline: none;
              border-bottom-color: white;
              border-bottom-width: 2px;
              border-bottom-style: solid;
            }
          }
        }

        .more-info {
          position: absolute;
          width: $more-info-width;
          height: 100%;
          right: 0px;
          top: 10px;

          .fa {
            position: absolute;
            right: 0px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}
