@import './modules/browser-compatibility';

$sidebar-width: 350px;

#tasks {
  position: absolute;

  left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});

  height: 100%;
  background-color: red;

  @extend .cross-browser-border-box;
  padding: 30px;

  .tasks-container {
    @extend .cross-browser-border-box;

    padding: 10px;

    background-color: orange;

    .tasklist-name {
      @extend .cross-browser-border-box;
      display: block;
      resize: none;
      border-style: none;

      background-color: yellow;

      height: 50px;
      width: 100%;

      text-align: center;
      font-size: 28px;

      resize: none;
      border-style: none;
    }

    .task-container {
      position: relative;

      height: 35px;
      width: 100%;

      $checkbox-width: 30px;

      .checkbox {
      }

      .task-text {
        @extend .cross-browser-border-box;
        display: block;
        resize: none;
        border-style: none;

        font-size: 18px;

        height: 100%;
        width: calc(100% - #{$checkbox-width});

        position: absolute;
        left: $checkbox-width;
        top: 0px;
      }
    }
  }
}
