@import 'compass/css3';

// Mixin for keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
     @-moz-keyframes #{$name} { @content; }
      @-ms-keyframes #{$name} { @content; }
          @keyframes #{$name} { @content; }
}

// Mixin for animations
@mixin animation($prop) {
  -webkit-animation: $prop;
     -moz-animation: $prop;
       -o-animation: $prop;
          animation: $prop;
}

$check-width: 6px;
$check-height: 14px;

// Create animation called 'check'
@include keyframes(check) {
  0% { height: 0; width: 0; }
  25% { height: 0; width: $check-width; }
  50% { height: $check-height; width: $check-width; }
}

.checkbox-container {
  label {
    &:after {
      @include transform(scaleX(-1) rotate(180deg + -45deg));
      @include transform-origin(left, top);

      border-right: 3px solid rgba(255, 255, 255, 0.0);
      border-top: 3px solid rgba(255, 255, 255, 0.0);

      width: $check-width;
      height: $check-height;

      content: "";
      display: block;
      left: 1px;
      position: absolute;
      top: 5px;
    }

    &:hover:after {
      border-color: lightgrey;
    }
  }

  input {
    display: none;
  }

  input:checked + label:after {
    @include animation(check 0.2s);
    border-color: black;
  }
}
