@import '../modules/colors';

$fade-duration: 0.5s;

#sidebar {
  .new-task-container {
    -webkit-transition-duration: $fade-duration;
            transition-duration: $fade-duration;

    -webkit-transition-property: background-color;
            transition-property: background-color;

    &:hover {
      background-color: $darkest-amber;
    }
  }

  .tasklists-container {
    .tasklist-container {
      -webkit-transition-duration: $fade-duration;
              transition-duration: $fade-duration;

      -webkit-transition-property: background-color;
              transition-property: background-color;

      &:hover {
        background-color: $darkest-amber;
      }
    }
  }
}
