$animation-time: 0.7s;
$max-opacity: 0.2;

.shine {
  // positioning
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  &.start {
    // gradient

    // FF3.6+
    background: -moz-linear-gradient(left,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.03) 1%,
      rgba(255,255,255,0.6) 30%,
      rgba(255,255,255,0.85) 50%,
      rgba(255,255,255,0.85) 70%,
      rgba(255,255,255,0.85) 71%,
      rgba(255,255,255,0) 100%);

    // Chrome, Safari4+
    background: -webkit-gradient(linear, left top, right top,
      color-stop(0%,rgba(255,255,255,0)),
      color-stop(1%,rgba(255,255,255,0.03)),
      color-stop(30%,rgba(255,255,255,0.85)),
      color-stop(50%,rgba(255,255,255,0.85)),
      color-stop(70%,rgba(255,255,255,0.85)),
      color-stop(71%,rgba(255,255,255,0.85)),
      color-stop(100%,rgba(255,255,255,0)));

    // Chrome10+,Safari5.1+
    background: -webkit-linear-gradient(left,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.03) 1%,
      rgba(255,255,255,0.6) 30%,
      rgba(255,255,255,0.85) 50%,
      rgba(255,255,255,0.85) 70%,
      rgba(255,255,255,0.85) 71%,
      rgba(255,255,255,0) 100%);

    // Opera 11.10+
    background: -o-linear-gradient(left,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.03) 1%,
      rgba(255,255,255,0.6) 30%,
      rgba(255,255,255,0.85) 50%,
      rgba(255,255,255,0.85) 70%,
      rgba(255,255,255,0.85) 71%,
      rgba(255,255,255,0) 100%);

    // IE10+
    background: -ms-linear-gradient(left,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.03) 1%,
      rgba(255,255,255,0.6) 30%,
      rgba(255,255,255,0.85) 50%,
      rgba(255,255,255,0.85) 70%,
      rgba(255,255,255,0.85) 71%,
      rgba(255,255,255,0) 100%);

    // W3C
    background: linear-gradient(to right,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.03) 1%,
      rgba(255,255,255,0.6) 30%,
      rgba(255,255,255,0.85) 50%,
      rgba(255,255,255,0.85) 70%,
      rgba(255,255,255,0.85) 71%,
      rgba(255,255,255,0) 100%);

    // IE6-9
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#00ffffff',
      endColorstr='#00ffffff',
      GradientType=1);

    // forming the shine element
    // play around with the width, skew and gradient to get different effects
    width: 15%;
    height: 100%;
    -webkit-transform: skew(-10deg, 0deg);
       -moz-transform: skew(-10deg, 0deg);
        -ms-transform: skew(-10deg, 0deg);
         -o-transform: skew(-10deg, 0deg);
            transform: skew(-10deg, 0deg);

    // animating it
    -webkit-animation: move $animation-time;
       -moz-animation: move $animation-time;
        -ms-animation: move $animation-time;
         -o-animation: move $animation-time;
            animation: move $animation-time;
  }
}

@keyframes move {
  0% {left: 0; opacity: 0;}
  5% {opacity: 0.0}
  48% {opacity: $max-opacity}
  80% {opacity: 0.0}
  100% { left: 75%}
}

@-webkit-keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: $max-opacity}
  80% {opacity: 0.0}
  100% { left: 75%}
}

@-moz-keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: $max-opacity}
  80% {opacity: 0.0}
  100% { left: 88%}
}

@-ms-keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: $max-opacity}
  80% {opacity: 0.0}
  100% { left: 75%}
}

@-o-keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: $max-opacity}
  80% {opacity: 0.0}
  100% { left: 75%}
}
