$light-purple: #BA68C8;
$med-purple: #AB47BC;
$dark-purple: #9C27B0;

$light-green: #81C784;
$med-green: #66BB6A;
$dark-green: #4CAF50;

$lightest-amber: #FFECB3;
$lighter-amber: #FFE082;
$light-amber: #FFD54F;
$med-amber: #FFCA28;
$dark-amber: #FFC107;
$darkest-amber: #FFA000;
